# Створено для VisualStudioCode,VisualStudio,CSharp,DotnetCore
# Згенеруйте актуальну версію за посиланням:
# https://www.toptal.com/developers/gitignore/api/visualstudiocode,visualstudio,csharp,dotnetcore

## Основні папки збірки .NET
bin/
obj/

## Файли Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Файли Visual Studio
.vs/
*.user
*.suo

## Інше
*.log
